.table {
    position: relative;
    width: 100%;

    background: rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 0.25rem;

    thead {
        tr {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
    }

    tr:not(:last-child) {
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    th {
        text-transform: uppercase;
    }

    th,
    td {
        padding: 0.5rem;
        height: 2.375rem;
        width: calc(100% / 3);

        color: rgba(white, 0.7);
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
        background-clip: padding-box;

        @media screen and (max-width: 600px) {
            padding: 0.25rem;
            width: auto;

            &:first-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-height: 3.25rem;
            }
        }

        &:not(:last-child) {
            border-right: 1px solid rgba(255, 255, 255, 0.2);
        }

        &.inFront {
            background: #361c3c;
            background-clip: padding-box;
        }

        &.inRear {
            background: #181d43;
            background-clip: padding-box;
        }

        b {
            color: rgba(white, 0.8);
            font-weight: 500;
        }
    }
}


