.form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: max-content;

  &__descr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.25rem;
    text-transform: uppercase;
  }
}