.button {
  padding: 0 0.5rem;
  height: 2.375rem;
  width: 9rem;

  color: #fffc;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;

  &:hover {
    background: rgba(255, 255, 255, 0.15);
  }

  &:active {
    background: rgba(255, 255, 255, 0.2);
  }
}