.wrapper {
  position: relative;

  &__hidden {
    display: none;
  }
}

.input {
  padding: 0 0.75rem;
  width: 8.25rem;
  height: 2.375rem;
  outline: none;
  caret-color: rgba(white, 0.7);

  font-size: 1rem;
  text-align: center;
  color: rgba(white, 0.8);
  border: 1px solid rgba(white, 0.2);
  border-radius: 0.25rem;
  background: rgba(white, 0.1);

  &:hover {
    background: rgba(255, 255, 255, 0.15);
  }

  &:focus {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

.hasCross::before {
  content: '✕';
  position: absolute;
  width: 1rem;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);

  text-align: center;
  font-size: 0.625rem;
  font-weight: 600;
  color: rgba(white, 0.8);
}