.calculations {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 960px;

    &__controls {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;

        @media screen and (max-width: 600px) {
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
        }
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: flex-start;
        text-align: center;
        width: min-content;

        @media screen and (max-width: 600px) {
            flex-direction: row;
            width: 100%;
        }
    }

    &__inputs {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        max-width: 16rem;

        @media screen and (max-width: 575px) {
            justify-content: center;
        }

        > div > input {
            width: 8.125rem;
        }
    }

    &__button {
        display: flex;
        width: 100%;
        justify-content: center;

        @media screen and (max-width: 600px) {
            margin-top: 0;
        }
    }

    &__result {
        margin-top: 2rem;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 0.25rem;
    }
}
