* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Roboto',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: rgba(white, 0.8);
  background: linear-gradient(135deg, #060d20 15%, #29152f);
  overflow-x: hidden;

  //&::before {
  //  content: '';
  //  display: block;
  //  position: absolute;
  //  z-index: -1;
  //   background-image: url("./assets/waves.svg");
  //   width: 105%;
  //  height: 100%;
  //  background-size: cover;
  //  opacity: 0.3;
  //  filter: blur(10px);
  //
  //  @media screen and (max-width: 576px) {
  //    width: 100%;
  //  }
  //}

  //&::after {
  //  content: '';
  //  display: block;
  //  position: absolute;
  //  z-index: -2;
  //  background-image: url("./assets/hero-glow.svg");
  //  top: 0;
  //  bottom: 0;
  //  right: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  transform: translate(-50%, -50%);
  //  background-size: cover;
  //  opacity: 0.5;
  //  filter: blur(10px);
  //}
}

.app {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem;

  max-width: 1280px;
  min-height: 100vh;
}

.title {
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0 2rem;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 666px) {
    font-size: 1.25rem;
  }

}